/*cambiar foto*/
.header {
    background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/OYEIB7P371.jpg");
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 660px;
    width: auto;
    padding-bottom: 100px;
}

/*cambiar fuentes */
h1 {
    text-align: right;
    color: #111222;
    font-weight: bold;
}

h2{
    color: #111222;
    margin-top: 15px;
}

p{
    color: #111222;
    margin-bottom: 10px;
}

div.bg1. .project {
    color: #111222;
}

/*cambiar imagenes*/
div.bg1 .project .project-img {
    border-radius: 60%;
    width: 300px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    div.bg1 {
        padding-top: 80px;
        padding-bottom: 50px;
        padding-left: 120px;
        padding-right: 120px;
    }
}